body {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none;
}

/*************** HEADER ***************/

#header {
    background: #252926;
}

#header h1 a {
    color: white;
    font-size: 48px;
    font-weight: 600;
    transition: .3s;
}

#header h1 a:hover {
    text-decoration: none;
    color: #F47857;
}

#header #slogan {
    color: gray;
    font-size: 18px;
    margin: 0;
}

.title-header{
    max-width: 100%;
}

.title-slogan {
    margin: 40px;
    margin-bottom: 20px;
}

/*************** MENU ***************/

.navbar {
    padding-left: 0;
}

.navbar ul {
    height: 100%;
    margin: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    height: 100%;
    border: 1px solid gray;
    margin: 0;
}

.navbar ul li a {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    transition: .3s;
    outline: none;
}

.navbar ul li a:hover {
    color: #F47857;
}

.active-link,
.navbar ul li .active-link:hover {
    color: white;
    background: #F47857;
}

/* MENU BUTTON ANIMATION */

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus{
    outline: none;
}

.icon-bar {
	width: 25px;
	height: 3px;
	background-color: white;
	display: block;
	transition: .2s;
	margin-top: 4px
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*************** FOOTER ***************/

#footer {
    max-width: 100%;
    min-height: 150px;
    background-color: #252926;
    margin-top: 30px;
}

#footer-container {
    display: flex;
    justify-content: space-around;
}

#footer-title {
    width: 300px;
    height: 70px;
    margin-left: 50px;
}

#footer #footer-title a {
    color: white;
    padding: 10px;
    transition: .3s;
}

#footer #footer-title a:hover {
    color: #F47857;
}

#footer-links {
    margin: 25px 50px;
    text-decoration: none;
}

#footer-links a {
    transition: .3s;
    color: #F47857;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bolder;
}

#footer-links p {
    color: white;
    margin: 0;
    margin-top: 15px;
}

#footer-links p a {
    margin: 0;
}

#footer-links a:hover {
    color: white;
}

#copyright {
    color: white;
    max-width: 100%;
    bottom: 0;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

#copyright p {
    margin: 0;
    color: #b1b1b1;
}

/*************** QUI SOM ***************/

#about-header h1 {
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
    margin-top: 30px;
}

/*************** MOBILE ***************/

    @media (max-width: 991px) {

        /********** HEADER **********/

        .title-slogan {
            text-align: right;
            margin: 0;
        }

        #header h1 {
            margin: 0;
            margin-bottom: -40px;
        }

        #header h1 a {
            font-size: 25px;
        }

        #header #slogan {
            display: none;
        }

        /********** MENU **********/

        .navbar ul li {
            display: block;
            text-align: center;
            margin: 5px 0;
            border-radius: 2px;
        }

        .navbar-toggler {
            margin-bottom: 10px;
        }

        /********** FOOTER **********/

        #footer-container {
            display: block;
        }
    }
